@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Material Icons.woff2') format('woff2');
}
.card .card-image a.card-title {
	padding-top: 160px!important;
}
.card .card-image a.card-title > p {
	font-size: 15px!important;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
main div .row {
	margin-top: 20px
}
main ul:not(.browser-default).pagination {
	padding-left: 0
}
main ul:not(.browser-default).pagination li a:hover {
	text-decoration: none
}
#post-title {
	margin-bottom: 2px;
	font-weight: bold
}
#post-date {
	margin-bottom: 8px;
	font-size: 14px
}
#post-date i {
	font-size: 11.5px;
	margin-right: 10px
}
#post-content {
	margin-top: 5px
}
.cat-chip {
	color: #616161;
	margin-right: 5px;
	text-decoration: none
}
.cat-chip:hover div {
	color: #fff;
	background-color: #616161
}
.cat-chip div {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.cat-div .divider {
	margin: 20px 0
}
.post-date {
	margin-left: 10px
}
ul:not(.browser-default).cat-post {
	padding-left: 0
}
ul:not(.browser-default).cat-post a {
	text-decoration: none;
	color: #00695c
}
ul:not(.browser-default).cat-post li {
	list-style-position: inside;
	padding-left: 40px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}
ul:not(.browser-default).cat-post li:hover {
	list-style-type: circle;
	padding-left: 20px
}
.morphext > .animated {
    display: inline-block;
}
main div .row {
	margin-top: 20px
}
#page-info h3 {
	font-weight: bold;
	margin-bottom: 5px
}
main div .divider {
	margin: 10px 0
}
main div.highlighter-rouge {
	margin: 1em 20px
}
main div.highlighter-rouge pre {
	padding: 5px
}
main figure.highlight {
	margin: 1em 20px
}
main figure.highlight pre {
	white-space: pre-wrap
}
main figure.highlight table {
	width: auto
}
#post-info h3 {
	font-weight: bold;
	margin-bottom: 15px
}
#post-info ul:not(.browser-default) {
	padding-left: 0;
	width: 40%
}
#post-info ul:not(.browser-default) li {
	list-style-type: none
}
#post-info span {
	font-size: 14px;
	display: block;
	margin-bottom: 5px
}
#post-info span i {
	font-size: 11.5px;
	margin-right: 10px
}
#post-info span i#indicate {
	font-size: 20px
}
#post-info span .chip {
	color: #616161;
	margin-right: 5px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
#post-info span .chip:hover {
	color: #fff;
	background-color: #616161
}
@media only screen and (max-width: 992px) {
	#post-info h3 {
		text-align: center
	}
	#post-info ul:not(.browser-default) {
		width: 100%
	}
}
.card-image {
	height: 14em;
	width: 100%;
	overflow-x: hidden
}
.card-image i {
	color: #fff;
	padding: 10px
}
.card {
	margin-bottom: 20px
}
.card .card-content span {
	width: 100%
}
.card .card-image a.card-title {
	font-weight: bold;
	color: #fff;
	width: 100%;
	height: 100%;
	line-height: 100%;
	justify-content: center;
	z-index: -1
}
.card .card-reveal .card-reveal-content {
	display: block
}
.card .card-reveal .card-reveal-content span.card-title {
	font-weight: bold;
	padding-bottom: 19px
}
.card .card-reveal .card-reveal-content span.tooltipped {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px
}
.card .card-reveal .card-reveal-content span.tooltipped i {
	font-size: 12px;
	margin-right: 10px
}
.row div.switch {
	margin-bottom: 5px
}
.hidden {
	display: none
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  color: #faf6e4;
  background-color: #122b3b;
}
.highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
  font-style: italic;
}
.highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .gr {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .o, .highlight .ow {
  color: #4df4ff;
}
.highlight .p, .highlight .pi {
  color: #4df4ff;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #b2fd6d;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .no {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
.highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.highlight .se {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .sc {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .si {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .nb {
  font-weight: bold;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #BBBBBB;
}
.highlight .nf {
  color: #a8e1fe;
}
.highlight .py {
  color: #a8e1fe;
}
.highlight .na {
  color: #a8e1fe;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #a8e1fe;
  font-weight: bold;
}
.tag-chip {
	color: #616161;
	margin-right: 5px;
	text-decoration: none
}
.tag-chip:hover div {
	color: #fff;
	background-color: #616161
}
.tag-chip div {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.tag-div .divider {
	margin: 20px 0
}
.post-date {
	margin-left: 10px
}
ul:not(.browser-default).tag-post {
	padding-left: 0
}
ul:not(.browser-default).tag-post a {
	text-decoration: none;
	color: #00695c
}
ul:not(.browser-default).tag-post li {
	list-style-position: inside;
	padding-left: 40px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}
ul:not(.browser-default).tag-post li:hover {
	list-style-type: circle;
	padding-left: 20px
}
.user-pic img {
	width: 100px;
	height: auto
}
.hidden {
	display: none
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column
}
a:hover {
	text-decoration: underline
}
a:active {
	text-decoration: underline
}
.img-responsive {
	max-width: 100%;
	height: auto
}
main {
	flex: 1 0 auto
}
header, main, footer {
	padding-left: 300px
}
.container {
	width: 90%
}
header {
	height: 80px
}
header a:hover {
	text-decoration: none
}
header .background {
	background: #000;
}
a.button-collapse.top-nav {
	position: absolute;
	text-align: center;
	height: 48px;
	width: 48px;
	top: 0;
	float: none;
	color: #fff;
	font-size: 36px;
	z-index: 999;
	line-height: 80px
}
nav .page-title {
	font-size: 36px;
	font-weight: bold;
	line-height: 80px
}
nav.top-nav {
	height: 80px
}
footer.page-footer {
	margin-top: 10px
}
footer.page-footer .row {
	margin-bottom: 0px
}
footer.page-footer p {
	margin-top: 5px
}
blockquote {
	border-left-color: teal
}
main ul:not(.browser-default) {
	padding-left: 40px
}
main ul:not(.browser-default) li {
	list-style-type: disc
}
main list:not(.browser-default) {
	padding-left: 0px
}
main list:not(.browser-default) ol {
	list-style-type: none
}
@media only screen and (max-width: 992px) {
	header, main, footer {
		padding-left: 0
	}
	nav .nav-wrapper {
		text-align: center
	}
}
@media only screen and (max-width: 600px) {
	nav .page-title {
		font-size: 20px
	}
}