/* ВАЖНЫЕ ЭЛЕМЕНТЫ САЙТА */
.footer-info {
    margin-bottom: 0!important;
    text-align: center;
    font-size: 16px;
}
.footer {
    font-size: 14px;
    padding: 14px;
	border-top: 1px solid #282828;
}
/* Адаптивный размер фрейма */
.frame {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Адаптивный размер карусели */
img.bd-placeholder-img {
    height: 100%;
    width: 100%;
	object-fit: fill;
}
.carousel-item:nth-child(1) img, .carousel-item:nth-child(5) img, .carousel-item:nth-child(6) img {
	object-fit: cover!important;
}
.carousel {
	margin-bottom: 4rem;
}
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}
.carousel-item {
	height: 32rem;
}
.carousel-caption>h1, .carousel-caption>p {
	text-shadow: 2px 2px #000!important;
}
.navbar {
	background: #060606;
	border-bottom: 1px solid #282828;
}
.carousel-inner {
    margin-top: 55px!important;
}
table tr {
    border-top: 1px solid #282828;
}
table td, table th {
	border-right: 1px solid #282828;
}
.table {
	border: 1px solid #282828;
}
td.like {
	background: #003d00;
}
td.hate {
	background: #630000;
}
.bd-placeholder-img:after {
	background-image: linear-gradient(270deg, #0000 70%, #000), linear-gradient(270deg, #000, #0000 30%)!important;
}
* {
	--bs-btn-color: #fff!important;
    --bs-btn-bg: #060606!important;
    --bs-btn-border-color: #282828!important;
    --bs-btn-hover-color: #fff!important;
    --bs-btn-hover-bg: #444!important;
    --bs-btn-hover-border-color: #282828!important;
    --bs-btn-focus-shadow-rgb: 255, 255, 255!important;
    --bs-btn-active-color: #fff!important;
    --bs-btn-active-bg: #444!important;
    --bs-btn-active-border-color: #282828!important;
    --bs-btn-active-shadow: 0 0 0 1px #fff!important;
    --bs-btn-disabled-color: #fff!important;
    --bs-btn-disabled-bg: #060606!important;
    --bs-btn-disabled-border-color: #282828!important;
	--bs-navbar-color: #ffffff8c!important;
    --bs-navbar-hover-color: #fff!important;
    --bs-navbar-disabled-color: #fff!important;
    --bs-navbar-active-color: #fff!important;
    --bs-navbar-brand-color: #fff!important;
    --bs-navbar-brand-hover-color: #fff!important;
    --bs-navbar-toggler-border-color: #242424!important;
}
.infobox {
	border: 1px solid #282828;
	color: #fff;
	background: #444;
	font-size: 88%;
	width: 23em;
	vertical-align: middle;
	text-align: left;
	line-height: 1.5em;
	border-collapse: separate;
	border-spacing: 2px;
}
.infobox thead>tr>th {
	 text-align: center;
}
.infobox tbody>tr>td, .infobox thead>tr>th {
	background-color: rgb(102, 102, 102);
}
/* Это правило меняет в Bootstrap положение в мобильной версии - сначала идёт контент СПРАВА, а потом контент СЛЕВА (если смотреть с ПК) */
main.container>.row {
    flex-wrap: wrap-reverse!important;
}