body {
	background: #ddd;
	font: 12px/1.2 Verdana, Arial, Helvetica, sans-serif;
	margin: 20px 20px 0;
	padding: 0
}
a {
	color: #c00;
	font-weight: bold;
	text-decoration: none
}
pre {
	color: blue;
	font-size: 16px margin:0 10px 10px 10px
}
ol {
	margin-right: 40px
}
li {
	margin-bottom: 0
}
td {
	vertical-align: top
}
p {
	margin: 0 10px 10px
}
h1 {
	font-size: 14px;
	padding-top: 10px;
	margin: 0 10px 10px
}
h2 {
	font-size: 16px;
	padding-top: 10px;
	margin: 0 10px 10px
}
input {
	font: 12px/1.2 courier
}
.greek {
	color: #999
}
.pgtab {
	border: 1px solid #000;
	font: 12px/1.2 verdana
}
.pgbw {
	border: 0;
	background-color: black;
	color: white;
	font: 12px/1.2 consolas
}
.pgbg {
	border: 0;
	background-color: black;
	color: green;
	font: 12px/1.2 consolas
}
.pgwb {
	border: 0;
	font: 12px/1.2 fixedsys
}
.pgby {
	border: 0;
	background-color: brown;
	color: yellow;
	font: 12px/1.2 consolas
}
.pgblw {
	border: 0;
	background-color: blue;
	color: white;
	font: 12px/1.2 consolas
}