body {
	margin: 20px 20px 0px 20px;
}
#main {
	border: 1px solid #000;
	background: #fff;
}
#main #menu {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	float: right;
	width: 25%;
	background: #eee;
	margin: 0px 0px 10px 10px;
}
#main #frame {
	border: 1px solid #000;
	float: left;
	width: 70%;
	background: #ddd;
	margin: 5px 5px 5px 5px;
}
#main #frame #header {
	border-bottom: 1px solid #000;
	float: top;
	width: 100%;
	background: #eee;
	margin: 0px 0px 0px 0px;
}
p, h1, h2, pre {
	margin: 0px 10px 10px 10px;
}
h1 {
	font-size: 14px;
	padding-top: 10px;
}
h2 {
	font-size: 16px;
	padding-top: 10px;
}
#menu p {
	font-size: 10px
}